.product-page-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-page-container-padding
{
    width: 65%;
}
.product-page-container-padding-categories 
{
    padding: 10px 0px;
}
.product-page-container{
    padding: 5px 0px;
    font-size: 0.8rem;
}
.product-page-container-padding-top
{
    height: 60vh;
    display: flex;
}
.product-page-container-padding-top-images
{
    height: 100%;
    width: 40%;
}
.product-page-container-padding-top-images-big
{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.19); 
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.19);
    border-radius: 10px;
}
.product-page-container-padding-top-images-big img 
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.product-page-container-padding-top-images-more 
{
    height: 35%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-page-container-padding-top-images-more-item
{
    padding: 10px;
    height: 80%;
    width: 100px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.19); 
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.19);
    border-radius: 5px;
}
.product-page-container-padding-top-images-more-item img 
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-page-container-padding-top-details
{
    height: 100%;
    width: 60%;
}
.product-page-container-padding-top-details-shop
{
    height: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.product-page-container-padding-top-details-top
{
    height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.product-page-container-padding-top-details-top-item
{
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
.product-page-container-padding-top-details-top-item img 
{
    height: 15px;
    margin-right: 6px;
}

.product-page-container-padding-top-details-bot 
{
    height: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}
.product-page-container-padding-top-details-bot-padding
{
    width: 80%;
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.19); 
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.19);
    padding: 15px;
}
.product-page-container-padding-top-details-bot-padding-price
{
    height: 50%;
}
.product-page-container-padding-top-details-bot-padding-price .price-container
{
    font-size: 1.3rem;
    font-weight: bold;
    color: #89c149;
    margin: 5px 0px;
}
.product-page-container-padding-top-details-bot-padding-price .desc-container 
{
    font-size: 0.6rem;
}
.product-page-container-padding-top-details-bot-padding-buy
{
    height: 50%;
    display: flex;
}
.product-page-container-padding-top-details-bot-padding-buy-btn
{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 20px;
}
.product-page-container-padding-top-details-bot-padding-buy-btn button 
{
    width: 100%;
    padding: 5px;
}
.product-page-container-padding-top-details-bot-padding-buy-bucs
{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Description */
.product-page-container-padding-desc
{
    margin-top: 30px;
}
.product-page-container-padding-desc-title
{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 0px;
}
.product-page-container-padding-desc-content
{
    font-size: 0.9rem;
    padding: 0px 10px;
}
.product-page-container-padding-desc-specificatii
{

}
.product-page-container-padding-desc-specificatii-item
{
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
}
.product-page-container-padding-desc-specificatii-item-left
{
    width: 50%
}
.product-page-container-padding-desc-specificatii-item-right
{
    width: 50%
}