.succes-payment-container
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.succes-payment-container img
{
    height: 200px;
    width: 200px;
    object-fit: contain;
}
.succes-payment-container span 
{
    padding: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}
.succes-payment-container button 
{
    padding: 15px 20px;
    font-size: 1.2rem;
    background-color: #89c149;
    outline: none;
    border: none;
    border-radius: 10px;
}
.succes-payment-container button:hover 
{
    color: white;
    background-color: #7dae44;
    transition: all 0.3s ease;
    cursor: pointer;
}